.containner-global {
    display: flex;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: rgb(0, 0, 0);
}

.timeline {
    display: flex;
    justify-content: center;
    width: auto;
}

.timeline div:first-of-type {
    margin-left: 50px;
}

.timeline div:last-of-type {
    margin-right: 50px;
}

.year {
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 10px;
}